# Entornos y herramientas
.venv/
.python-version

# Instalación de Node
node_modules/

# Artefactos de test y cobertura
.coverage
coverage/
.pytest_cache/
.ruff_cache/

# Python
__pycache__/
*.py[cod]

# Editores y SO
.vscode/
.idea/
.DS_Store
Thumbs.db